<launch>

<group>
	<node pkg="mapping" type="mapping" name="mapping">
	<rosparam command="load" file="$(find mapping)/config/map_info.yaml"/>
	<rosparam command="load" file="$(find mapping)/config/robot_info.yaml"/>
	<rosparam command="load" file="$(find mapping)/config/sensor_info.yaml"/>
	</node>
	<node pkg="mapping" type="map_build_node" name="map_build_node" />

<!-- static publisher 1 2 and 3 -->

</group>


</launch>
